<a href="https://colab.research.google.com/github/easycloudapi/learn_gcp/blob/main/learning_resources/08_GCP_Bigquery_Service.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Bigquery

1. Introduction-Bigquery: https://cloud.google.com/bigquery/docs/introduction

2. introduction-sql: https://cloud.google.com/bigquery/docs/introduction-sql

# Sample Queries on Public Dataset

```sql
--============================================================
CREATE SCHEMA `test-flask-api-372913.SAMPLE_Dataset`
  OPTIONS (
    description = 'Sample DESCRIPTION',
    labels = [('key','value'),('env','prod')],
    location = 'US');
--===========================================================

create or replace table `test-flask-api-372913.SAMPLE_Dataset.sample_table`(id int64, name string);
--===========================================================
insert into `test-flask-api-372913.SAMPLE_Dataset.sample_table` values(1, 'indra');
insert into `test-flask-api-372913.SAMPLE_Dataset.sample_table` values(1, 'pravin');
--===========================================================
```